<nav class="navbar">
  <div class="navHeader">
    <div class="app_title">
      <h1>Team Picker</h1>
    </div>
    
    <div class="links">
      <a href="/">Home</a>
      |
      <a href="/cohorts">Cohorts</a>
      |
      <a href="/cohorts/new">New Cohort</a>      
    </div>

    <!-- < % if (username) { % > 
      <a href="/articles/new">New Articles</a>
      < %= username % >
      <form action="/sign_out" method="POST">
        <input type="submit" value="Sign Out" class="btn btn-danger">
      </form>
    < % } else { % >
      <form action="/sign_in" method="POST">
        <label for="username">Sign in!</label>
        <input type="text" name="username"></input>
        <input type="submit" value="Log In" class="btn btn-primary">
      </form>
    < % } % > -->

  </div>
</nav>