<%- include("../partials/header") %>
  <!-- <h1>Welcome! New John</h1> -->
  <form action="/cohorts" method="POST">
    <%- include("./partials/cohortInputs") %>
  </form>
  
<%- include("../partials/footer") %>